@model UGKPSwithoutEntity.Models.Login

@{
    ViewBag.Title = "Login";
}

<div class="container-fluid">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            <strong>OOps!!!</strong> @ViewBag.Message <br />
        </div>
    }
    @if (TempData["alertMsg"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["alertMsg"]")
            }
        </script>
        TempData["alertMsg"] = null;
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Login</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" value="Login" class="btn btn-primary btn-block" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-7">
                    <a href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a>
                    <a href="@Url.Action("Registration", "Account")" class="col-md-offset-1">Register</a>
                </div>
            </div>

        </div>
    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
